 
<div class="tax-container mat-elevation-z4">
  <h1>💷 UK Tax Calculator</h1>

   <mat-form-field appearance="outline" class="input-field">
    <mat-label>Gross Annual Salary</mat-label>
    <input matInput type="number" id="salary" [(ngModel)]="salary" min="0" step="1000" />
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="calculate()" [disabled]="isLoading">
    Calculate
  </button>

  <!-- Loading Spinner -->
  <div *ngIf="isLoading" class="spinner-wrapper">
    <mat-spinner diameter="40" strokeWidth="4"></mat-spinner>
  </div>

<div *ngIf="error" class="error">
    {{ error }}
  </div>

<!-- Error Message -->
<div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>

  <mat-card *ngIf="result" class="result-card">
    <mat-card-title>Calculation Result</mat-card-title>
    <mat-divider></mat-divider>
    <table class="styled-table">
      <tr>
        <td><strong>Gross Annual:</strong></td>
        <td>{{ result.grossAnnual | currency:'GBP' }}</td>
      </tr>
      <tr>
        <td><strong>Gross Monthly:</strong></td>
        <td>{{ result.grossMonthly | currency:'GBP' }}</td>
      </tr>
      <tr>
        <td><strong>Net Annual Salary:</strong></td>
        <td>{{ result.netAnnual | currency:'GBP' }}</td>
      </tr>
      <tr>
        <td><strong>Net Monthly Salary:</strong></td>
        <td>{{ result.netMonthly | currency:'GBP' }}</td>
      </tr>
      <tr>
        <td><strong>Annual Tax Paid:</strong></td>
        <td>{{ result.annualTax | currency:'GBP' }}</td>
      </tr>
      <tr>
        <td><strong>Monthly Tax Paid:</strong></td>
        <td>{{ result.monthlyTax | currency:'GBP' }}</td>
      </tr>
    </table>
  </mat-card>
</div>
